<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>

]>
<root id="-1">
  <umbHomePage id="1120" key="d16653ae-97bd-4868-be82-715a4d862343" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-04-25T00:31:36" updateDate="2016-05-26T16:47:12" nodeName="Forside" urlName="forside" path="-1,1120" isDoc="" nodeType="1116" creatorName="Simon Jakobsen" writerName="Simon Jakobsen" writerID="0" template="1111" nodeTypeAlias="umbHomePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Lev livet igen]]></title>
    <facebookLink><![CDATA[https://www.facebook.com/Levlivetigen/?fref=ts]]></facebookLink>
    <bannerBackgroundImage><![CDATA[/media/SampleImages/1008/banner.jpg]]></bannerBackgroundImage>
    <bannerLinkText><![CDATA[You know you want to click me]]></bannerLinkText>
    <bannerLink>1121</bannerLink>
    <bannerSubheader><![CDATA[It will lead to a call-to-action, just click the button...]]></bannerSubheader>
    <bannerHeader><![CDATA[This is some text that needs to pop]]></bannerHeader>
    <hideBanner>0</hideBanner>
    <aboutText><![CDATA[<div class="about-frontpage">
<p>´LEV LIVET IGEN ́ er en forening, skabt på initiativ af Sanne Ravn.<br /> Hendes motivation for at stifte foreningen er hendes søster, Charlotte Ravn, der døde d. 16. marts 2015, 46 år gammel.</p>
</div>]]></aboutText>
    <aboutTitle><![CDATA[Om Lev Livet Igen]]></aboutTitle>
    <byline><![CDATA[Lær at tænke positivt]]></byline>
    <siteName><![CDATA[Lev livet igen]]></siteName>
    <copyright><![CDATA[Jakobsen Web Solutions]]></copyright>
    <thursday><![CDATA["Undersøgelser viser, at vores ydre omstændigheder kun bestemmer 10% af vores lykke, mens vores mind-set og evne til at se lyst på tingene og være taknemmelige, bestemmer 90%."]]></thursday>
    <tuesday><![CDATA["Spild ikke energi på ting du ikke kan kontrollere"]]></tuesday>
    <friday><![CDATA["Jeg vil hele mit liv have min søster som forbillede og jeg vil med 'Lev Livet Igen' udbrede de tilgange, som min søster favnede livet med"]]></friday>
    <saturday><![CDATA["Erkend at nogle gange er det eneste vi kan styre, vores holdning og indstillinger til tingene, men med den kan vi til gengæld 'flytte bjerge'"]]></saturday>
    <monday><![CDATA["Spild ikke tid på at dvæle ved fortiden"]]></monday>
    <wednesday><![CDATA["Lev Livet Igen vil gøre en mærkbar forskel for familier med sygdom som følgesvend"]]></wednesday>
    <sunday><![CDATA["Det er dit eget ansvar at have det godt <3"]]></sunday>
    <umbTextPage id="1121" key="d2dedd1c-c628-4e82-bc33-a1f262eb0d53" parentID="1120" level="2" creatorID="0" sortOrder="0" createDate="2016-04-25T00:31:36" updateDate="2016-05-28T14:56:50" nodeName="Om" urlName="om" path="-1,1120,1121" isDoc="" nodeType="1119" creatorName="Simon Jakobsen" writerName="Simon Jakobsen" writerID="0" template="1114" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Om foreningen Lev Livet Igen]]></title>
      <featuredPage>1</featuredPage>
      <bodyText><![CDATA[<p>Foreningen ´Lev Livet Igen´ og de aktiviteter, der ligger heri, er skabt på initiativ af Sanne Ravn.<img class="sanne" src="/media/1054/sanne2.png?width=158&amp;height=195" alt="" rel="1131" data-id="1131" /> Hendes motivation for at stifte foreningen er hendes søster, Charlotte Ravn, der døde d. 16. marts 2015, 46 år gammel. </p>
<p>Trods livslang sygdom og masser af udfordringer, så klagede Charlotte aldrig. Hun fokuserede på det, hun kunne, og kæmpede for de ændringer hun selv var herre over. Hendes mantra var; Bruger vi for meget tid på at ærgre os over vores situation, systemet og andres manglende forståelse, så ender vi som forbitrede mennesker.</p>
<p> </p>
<p><strong>“Jeg vil hele mit liv have min søster som forbillede, og jeg vil med ´Lev Livet Igen´ udbrede de tilgange som min søster favnede livet med" </strong></p>
<p><strong>- Sanne Ravn</strong></p>
<p> </p>
<p>Ønsket med foreningens virke er, at give mennesker bevidstheden om, at de selv udgør en helt ufattelig styrke, som enten kan ødelægges/reduceres eller frisættes/udvikles. Det afhænger i HØJ grad af, hvordan det enkelte menneske bruge sin opmærksomhed.</p>
<p>Målgruppen for foreningsens aktiviteter er familier med enten kronisk syge børn, eller børn der har gennemgået alvorlige sygdomsforløb, men som nu er erklæret raske.</p>
<p>Et projekt funderet på hjerte og frivillighed</p>
<p>Teamet bag foreningen består hverken af psykologer, psykiater eller læger, men af mennesker med hjertet på rette sted (og ofte med egne erfaringer med at gøre udfordringer til styrker), som ønsker at bidrage til et positivt mindset. Aktiviteter i foreningen foregår vha. sponsorater og frivillig arbejdskraft, så alle donationer og hænder er velkomne.</p>]]></bodyText>
      <image><![CDATA[/media/1055/sanne2.png]]></image>
    </umbTextPage>
    <umbTextPage id="1122" key="ecac8bb1-0dff-4acf-889f-a64f73894d3e" parentID="1120" level="2" creatorID="0" sortOrder="1" createDate="2016-04-25T00:31:36" updateDate="2016-06-01T01:43:49" nodeName="Kontakt" urlName="kontakt" path="-1,1120,1122" isDoc="" nodeType="1119" creatorName="Simon Jakobsen" writerName="Simon Jakobsen" writerID="0" template="1114" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <featuredPage>1</featuredPage>
      <bodyText><![CDATA[<p>På denne side kan du kontakte foreningen Lev Livet Igen. Ingen spørgsmål er for store eller små. Vi glæder os til at høre fra dig!</p>
<p> </p>
<p><strong>Email: </strong><a href="mailto:info@levlivetigen.dk">Send os en mail</a>.</p>
<p> </p>
<p><strong>Tlf nr.:</strong> <span><a href="tel:30825505">30825505</a>.</span></p>
<p> </p>
<p><strong>Adresse:<br /><br /> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2228.590088819508!2d9.926334316078945!3d56.04308597703318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464c6ef642ed20a3%3A0xfc1e9920a2559e97!2sKr%C3%B8yer+Kielbergs+Vej+13%2C+8660+Skanderborg!5e0!3m2!1sda!2sdk!4v1464437399841" width="600" height="450" frameborder="0" style="border: 0;" allowfullscreen=""></iframe></strong></p>]]></bodyText>
      <image><![CDATA[/media/1063/512px-phone_font_awesomesvg.png]]></image>
    </umbTextPage>
    <umbTextPage id="1123" key="f27d2c5e-fc9e-415b-8e4f-3a83299475ba" parentID="1120" level="2" creatorID="0" sortOrder="2" createDate="2016-04-25T00:31:36" updateDate="2016-05-25T14:25:33" nodeName="Sponsorer" urlName="sponsorer" path="-1,1120,1123" isDoc="" nodeType="1119" creatorName="Simon Jakobsen" writerName="Simon Jakobsen" writerID="0" template="1114" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <featuredPage>1</featuredPage>
      <bodyText><![CDATA[<p>1000 tak for din interesse for vores projekt. Tiden løber stærk, og vi mangler stadig sponsorer og familier, der kan nyde godt af ´Camp LEV LIVET IGEN´ opholdet på Samsø d. 12.-17. juni 2016.</p>
<div class="text_exposed_show">
<p>Vi har brug for at få budskabet udbredt så langt omkring som overhovedet muligt, så vi når dem, der står og har brug for det.</p>
<p>SÅ har du en kontakt på et medie, og synes du at vores budskab er værd at få ud i verden, så vil vi bede dig hjælpe os med at komme i radioen, i avisen, på tv.</p>
<p>Lige nu står der rigtig mange gode kræfter klar, med de rette intentioner og ønsket om at understøtte til udvikling, vi skal bare have budskabet DERUD! Kan du hjælpe?</p>
<p>Du kan læse mere om projekt LEV LIVET IGEN her: <a href="https://www.facebook.com/Levlivetigen/?fref=ts">Lev Livet Igen Facebook</a>.</p>
<p>Hvis ja - Kontakt venligst Sanne Ravn på info@levlivetigen.dk eller på mobil nr.: 3082 5505.</p>
<p> </p>
<p><strong>Sponsorer/samarbejdspartnerer</strong></p>
<p>Smuk fonden - <a href="http://www.smukfest.dk/hjertesager/smukfonden/">Smuk Fonden</a>.</p>
<p>Skanderborg festival - <a href="http://www.smukfest.dk/">Smukfest</a>.</p>
<p>Hopballe Mølle - <a href="http://www.hopballe.dk/">Hopballe</a>.</p>
<p>D-Top - <a href="http://www.d-top.dk/">Digitaltrykkeri</a>.</p>
<p>Michael Nørager - Adjunkt ph.d. Aarhus universitet.</p>
<p>Simon Jakobsen - <a href="http://jakobsenwebsolutions.dk/">Jakobsen Web Solutions</a>.</p>
</div>]]></bodyText>
      <image><![CDATA[/media/1062/160113-smukfonden-logo-tak-for-donation-paa-20000.jpg]]></image>
    </umbTextPage>
    <umbTextPage id="1124" key="619e5a7d-5067-475e-8198-3eddcab5ec75" parentID="1120" level="2" creatorID="0" sortOrder="3" createDate="2016-04-25T00:31:36" updateDate="2016-05-25T14:38:51" nodeName="Arrangementer" urlName="arrangementer" path="-1,1120,1124" isDoc="" nodeType="1119" creatorName="Simon Jakobsen" writerName="Simon Jakobsen" writerID="0" template="1114" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <featuredPage>1</featuredPage>
      <bodyText><![CDATA[<p>På denne side finder du foreningens aktiviteter. Denne side vil løbende blive opdateret med nye arrangementer.</p>
<p>Forenings første aktivitet bliver ´Camp LEV LIVET IGEN´ på Samsø d. 12.-17. juni 2016</p>
<p>... ja du læste rigtigt 2016! Det er snart <u>:)</u></p>
<div class="text_exposed_show">
<p>Kender du en familier, der er motiveret for at arbejde med deres mindset, og dermed få mere overskud og glæde i familielivet? Så del endelig dette tilbud om at komme på camp på Samsø. Der er plads til 10 familier.</p>
<p>Vil du vide mere? Eller have brochuren tilsendt, så kontakt os endelig her på siden, eller send en mail på info@levlivetigen.dk.</p>
<p>Du kan se eller downloade brochuren her: <a href="/media/1064/brochure.pdf" target="_blank">Brochure</a>.</p>
</div>]]></bodyText>
      <image><![CDATA[/media/1061/brochure.png]]></image>
    </umbTextPage>
    <umbNewsOverview id="1125" key="053199a0-4e5f-4c0a-8b62-43b257929608" parentID="1120" level="2" creatorID="0" sortOrder="4" createDate="2016-04-25T00:31:36" updateDate="2016-05-20T15:12:22" nodeName="Nyheder" urlName="nyheder" path="-1,1120,1125" isDoc="" nodeType="1118" creatorName="Simon Jakobsen" writerName="Simon Jakobsen" writerID="0" template="1113" nodeTypeAlias="umbNewsOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbNewsItem id="1126" key="91186f0d-5996-4bb9-9098-accaba6ced87" parentID="1125" level="3" creatorID="0" sortOrder="0" createDate="2016-04-25T00:31:36" updateDate="2016-05-20T15:30:39" nodeName="Sådan tænker du positivt - gode links" urlName="saadan-taenker-du-positivt-gode-links" path="-1,1120,1125,1126" isDoc="" nodeType="1117" creatorName="Simon Jakobsen" writerName="Simon Jakobsen" writerID="0" template="1112" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>Ita prorsus, inquam; Hanc ergo intuens debet institutum illud quasi signum absolvere. Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis. Quia dolori non voluptas contraria est, sed doloris privatio. Nos autem non solum beatae vitae istam esse oblectationem videmus, sed etiam levamentum miseriarum. Quodsi ipsam honestatem undique pertectam atque absolutam. Nos cum te, M. Quod vestri non item.</p>
<p>Cum id quoque, ut cupiebat, audivisset, evelli iussit eam, qua erat transfixus, hastam. Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. Quid iudicant sensus? Quo tandem modo?</p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1127" key="a188811d-e0db-4341-9e14-9aa294f8e0f8" parentID="1125" level="3" creatorID="0" sortOrder="1" createDate="2016-04-25T00:31:36" updateDate="2016-06-04T22:27:33" nodeName="Vi har nu fået vores egen hjemmeside" urlName="vi-har-nu-faaet-vores-egen-hjemmeside" path="-1,1120,1125,1127" isDoc="" nodeType="1117" creatorName="Simon Jakobsen" writerName="Simon Jakobsen" writerID="0" template="1112" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commoda autem et incommoda in eo genere sunt, quae praeposita et reiecta diximus; Bestiarum vero nullum iudicium puto. Est enim effectrix multarum et magnarum voluptatum. Duo Reges: constructio interrete. Claudii libidini, qui tum erat summo ne imperio, dederetur. Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. Sed virtutem ipsam inchoavit, nihil amplius.</p>
<p>Ita redarguitur ipse a sese, convincunturque scripta eius probitate ipsius ac moribus. Istam voluptatem, inquit, Epicurus ignorat? Sed venio ad inconstantiae crimen, ne saepius dicas me aberrare; Sic, et quidem diligentius saepiusque ista loquemur inter nos agemusque communiter. Primum in nostrane potestate est, quid meminerimus? Consequens enim est et post oritur, ut dixi. Hoc mihi cum tuo fratre convenit. Immo videri fortasse. Itaque in rebus minime obscuris non multus est apud eos disserendi labor. Aliud igitur esse censet gaudere, aliud non dolere.</p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1128" key="e77f7de2-39c9-417a-884a-c7c62de8db9d" parentID="1125" level="3" creatorID="0" sortOrder="2" createDate="2016-04-25T00:31:36" updateDate="2016-06-05T13:55:10" nodeName="Lær at leve i nuet" urlName="laer-at-leve-i-nuet" path="-1,1120,1125,1128" isDoc="" nodeType="1117" creatorName="Simon Jakobsen" writerName="Simon Jakobsen" writerID="0" template="1112" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><span>Ut aliquid scire se gaudeant? Hanc ergo intuens debet institutum illud quasi signum absolvere. Vestri haec verecundius, illi fortasse constantius. Itaque sensibus rationem adiunxit et ratione effecta sensus non reliquit. Sed ea mala virtuti magnitudine obruebantur. Quasi ego id curem, quid ille aiat aut neget. Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Apparet statim, quae sint officia, quae actiones.</span></p>
<p><span><span>Virtutibus igitur rectissime mihi videris et ad consuetudinem nostrae orationis vitia posuisse contraria. Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Ut necesse sit omnium rerum, quae natura vigeant, similem esse finem, non eundem.</span></span></p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1129" key="a5be036a-644a-431f-ac9b-94c28b4b426f" parentID="1125" level="3" creatorID="0" sortOrder="3" createDate="2016-04-25T00:31:36" updateDate="2016-05-25T15:08:08" nodeName="Arrangement på Samsø" urlName="arrangement-paa-samsoe" path="-1,1120,1125,1129" isDoc="" nodeType="1117" creatorName="Simon Jakobsen" writerName="Simon Jakobsen" writerID="0" template="1112" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <publishDate>2016-05-25T14:45:09</publishDate>
        <image><![CDATA[/media/1066/brochure.png]]></image>
      </umbNewsItem>
    </umbNewsOverview>
  </umbHomePage>
</root>